version: '3.8'

services:
  miBd:
    image: mysql:8.0
    container_name: mysql_server
    env_file: ./.env
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=Domisoft
    ports:
      - "${MYSQLDB_LOCAL_PORT}:${MYSQLDB_DOCKER_PORT}"
    volumes:
      - ./ALL/migrations:/docker-entrypoint-initdb.d
    networks:
      proyecto_net:
        #ipv4_address: 172.25.0.02

  app:
    build: .
    container_name: app_server
    depends_on:
      - miBd
    links:
      - miBd
    ports:
      - "8080:80"
    volumes:
      - ./ALL:/usr/local/apache2/htdocs
    networks:
      proyecto_net:
        #ipv4_address: 172.25.0.03

  backup:
    image: alpine
    container_name: backup_server
    command: tail -f /dev/null
    volumes:
      - ./respaldos:/backup
    networks:
      proyecto_net:
        #ipv4_address: 172.25.0.04

networks:
  proyecto_net:
    driver: bridge
    #ipam:
      #config:
        #- subnet: 172.25.0.0/24
